@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

.login-container {
    padding: 2rem;
    margin-top: 175px;
    
}

.login-paper {
    padding: 2rem;
    background-color: #ffffff; /* background color of form */
}

.login-title {
    text-align: center;
    margin-bottom: 30px !important;
    font-family: "Orbitron", system-ui !important;
    margin-bottom: 2rem;
    font-family: "Orbitron", system-ui !important;
}

.login-input {
    margin-top: 5px;
    margin-bottom: 5px; /* spacing between fields */
}

.login-button {
    background-color: #ea00d9 !important; 
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #d800b2; /* slightly darker shade on hover */
    }

    font-family: "Orbitron", system-ui !important;
    color: white !important;
}

.login-success {
    margin-bottom: 1rem;
    font-family: 'Orbitron', sans-serif !important; 
    font-size: 15px; 
    background-color: #0abdc6 !important; /* blue background for success */
    color: white !important;
}

.login-success .MuiAlert-icon {
    color: white !important; 
}

.login-error {
    margin-bottom: 1rem;
    font-family: 'Orbitron', sans-serif !important; 
    font-size: 15px; 
    background-color: #711c91 !important;
    color: white !important;
}

.login-error .MuiAlert-icon {
    color: white !important; 
}